{
    "request": {
        "method": "GET",
        "url": "/course/get/all"
    },
    "response": {
        "status": 200,
        "body": "[{\"name\": \"QA java\", \"price\": 15000}, {\"name\": \"Java\", \"price\": 12000}]"
    }
}