{
  "request": {
    "method": "GET",
    "url": "/user/get/all"
  },
  "response": {
    "status": 200,
    "body": "[{\"id\": 1, \"name\": \"Test user\", \"course\": \"QA\", \"email\": \"test@test.test\", \"age\": 23}]"
  }
}