{
    "request": {
        "method": "POST",
        "url": "/soap/user"
    },
    "response": {
        "status": 200,
        "headers": {
            "Content-Type": "text/xml;charset=UTF-8"
        },
        "body": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:m=\"http://example.com/user\"><soapenv:Body><m:getUserResponse><m:name>Test user</m:name></m:getUserResponse></soapenv:Body></soapenv:Envelope>"
    }
}